
[lay-href], [lay-tips] {
    cursor: pointer;
}

/*头部样式*/
.layui-header {
    box-sizing: border-box; /**更改计算元素宽度高度计算方式,设定此值，高度包含边距和边框*/
    height: 60px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    line-height: 50px;

    background: url(../img/header-base.png);

}

.layui-logo {
    position: fixed;
    left: 10px;
    top: 0;
    z-index: 1002;
    width: 50%;
    height: 59px;
    padding: 0 15px;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: 600;
    color: #FFFFFF;
    text-align: left;
    font-size: 25px;
    line-height: 59px

}

.layui-layout-right .layui-nav-item cite {

    color: #fff;

}

.layui-layout-right .layui-badge-dot {
    margin-left: 11px;
}

.layui-layout-right .layui-nav-child {
    right: 0;
}

.layui-layout-right .layui-nav-child a:hover {
    background-color: #e2f7ff !important;
}
.layui-header .layui-nav {

    background: 0 0;

}


/**左侧菜单*/
.layui-side {
    top: 60px;
    width: 180px;
    z-index: 1001;
    bottom: 0;
}

.layui-side-menu {
    background-color: #fff;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
}
.layui-side-scroll {
    width: 200px;
}
.layui-side-menu .layui-nav {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    width: 180px;
    position: static;

}


.layui-side-menu .layui-nav-tree .layui-this,
.layui-side-menu .layui-nav-tree .layui-this > a,
.layui-side-menu .layui-nav-tree .layui-this > a:hover {
    background-color: #fff !important;
    color: #0e9ee1 !important;
}
.layui-side-menu .layui-nav-tree .layui-nav-bar {
    background-color: rgba(255, 255, 255, 0.2) !important;
}
.layui-side-menu .layui-nav .layui-nav-item a:hover {
    background: 0 0
}
.layui-side-menu .layui-nav .layui-nav-more {
    right: 15px;
    border-top-color: rgba(186, 198, 208, 1);;
    transition: all 0s ease 0s;

}
.layui-side-menu .layui-nav .layui-nav-itemed .layui-nav-more {
    border-color: transparent transparent #bac6d0;
    transition: all 0s ease 0s;
}
.layui-nav-itemed > a, .layui-nav-tree .layui-nav-title a, .layui-nav-tree .layui-nav-title a:hover {
    color: #303941 !important;
}
.layui-side-menu .layui-nav .layui-nav-itemed > .layui-nav-child {
    background-color: #fff !important;
}
.layui-nav .layui-nav-child dd.layui-this a .layui-first-menu{
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: relative;
    top: 22px;
    z-index: 1000;
    background-color:#0e9ee1!important;
}
.layui-side-menu .layui-nav .layui-nav-item a {
    height:50px;
    line-height: 50px;
    padding-right: 30px;
    padding-left: 24px;
    color: #303941;
    border-bottom: 1px solid #dddddd;
}

.layui-side-menu .layui-nav .layui-nav-child a cite{
    margin-left: 27px;
    line-height: 38px;
}
.layui-side-menu .layui-nav .layui-nav-item a .layui-first-menu {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: relative;
    top: 22px;
    z-index: 1000;
    background-color: #e6e8ee !important;
    left: 4px;
}
.layui-side-menu .layui-nav .layui-nav-item > a {
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: #27affd 1px dotted;
    font-size: 16px!important;
    font-weight: 600;
}

.img-nav {
    margin-right: 8px;
    width: 16px;
    height: 16px;
}



/*左侧菜单隐藏和展示**/
.menu-display {
    position: absolute;
    left: -7px;
    top: 289px;
}

.menu-display img {
    width: 19px;
    cursor: pointer;
    height: 43px;
}




/*内容主题区域*/
.layui-body-item {
    bottom: 0;
    left: 184px;
    position: absolute;
    right: 0;
    top: 56px;
}

.layui-body-item iframe {
    width: 100%;
    height: 100%;
    border: none;
}