html {
    background-color: #eef0f7;
}

body {
    width: 100%;
    height: 100%;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #515a6e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    margin: 0;
    padding: 0;

}

/**layer-tips*/
.layui-layer-tips .layui-layer-content {
    background-color: #27affd !important;
    color: #f2f2f2;

}

.layui-layer-tips i.layui-layer-TipsB, .layui-layer-tips i.layui-layer-TipsT {
    left: 5px;
    border-right-style: solid;
    border-right-color: #27affd !important;
}

.layui-layer-tips i.layui-layer-TipsL, .layui-layer-tips i.layui-layer-TipsR {
    top: 5px;
    border-bottom-style: solid;
    border-bottom-color: #27affd !important;
}

/**layui-nav*/

.layui-nav .layui-this::after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 5px;
    background-color: #fff;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this {
    background-color: #fff !important;
    color: #0e9ee1 !important;
}

.layui-btn:hover {

    opacity: 1 !important;
    filter: alpha(opacity=80);
    color: #ffffff;
    border: 1px solid #57a3f3;

    background-color: #57a3f3;

}

/**新增*/
.layui-btn-add {
    background-color: #2d8cf0;
    color: #fff;
    border: 1px solid #2d8cf0;
}

