html {
    background-color: #eef0f7;
}

body {
    width: 100%;
    height: 100%;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,"\5FAE\8F6F\96C5\9ED1",Arial,sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #515a6e;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: auto;
    margin: 0;
    padding: 0;

}
.layui-fluid {
    position: relative;
    margin: 0 auto;
    padding: 7px 15px;
}
/**layer-tips*/
.layui-layer-tips .layui-layer-content {
    background-color: #27affd !important;
    color: #f2f2f2;

}

.layui-layer-tips i.layui-layer-TipsB, .layui-layer-tips i.layui-layer-TipsT {
    left: 5px;
    border-right-style: solid;
    border-right-color: #27affd !important;
}

.layui-layer-tips i.layui-layer-TipsL, .layui-layer-tips i.layui-layer-TipsR {
    top: 5px;
    border-bottom-style: solid;
    border-bottom-color: #27affd !important;
}

/**layui-nav*/

.layui-nav .layui-this::after, .layui-nav-bar, .layui-nav-tree .layui-nav-itemed::after {
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 5px;
    background-color: #fff;
    transition: all .2s;
    -webkit-transition: all .2s;
}

.layui-nav .layui-nav-child dd.layui-this a, .layui-nav-child dd.layui-this {
    background-color: #fff !important;
    color: #0e9ee1 !important;
}
/**按钮*/
.layui-btn:hover {
    opacity: 1 !important;
    filter: alpha(opacity=80);
    color: #ffffff;
    border: 1px solid #57a3f3;
    background-color: #57a3f3;

}

.layui-btn-add {
    background-color: #2d8cf0;
    color: #fff;
    border: 1px solid #2d8cf0;
}

.layui-btn-add {
    background-color: #27affd;
    color: #fff;
    border: 1px solid #27affd;
}
.layui-btn-default {
    background-color: #e3f4ff;
    color: #54aeff;
    border: 1px solid #54aeff;
}
.layui-btn-default:hover {
    background-color: #e3f4ff;
    color: #54aeff;
    border: 1px solid #54aeff;
    opacity: 1 !important;
    filter: alpha(opacity=80);
}


/**保存*/
.layui-btn-save {
    background-color: #27affd;
    color: #fff;
    border: 1px solid #27affd;
    padding: 0 35px;
}

/**保存*/
.layui-btn-file {
    background-color: #1E9FFF;
    color: #fff;
    border: 1px solid #1E9FFF;
    padding: 0 35px;
}

/**取消*/
.layui-btn-cancel {
    background-color: #e0e0e4;
    color: #fff;
    border: 1px solid #e0e0e4;
    padding: 0 35px;
}

.layui-btn-cancel:hover {
    background-color: #d2d2d2;
    color: #fff;
    border: 1px solid #d2d2d2;
}
.layui-elem-quote {
    margin-bottom: 10px;
    line-height: 22px;
    border-left: 5px solid #27affd;
    border-radius: 0 2px 2px 0;
    background-color: #fff;
    color: #666666;
}


.layui-inline-right {
    float: right;
    padding-right: 2px;
    margin-top: -4px;
}

.input-serach {
    color: #666666;
    border: 1px solid #27affd !important;
    font-size: 11px;
    height: 30px;
    line-height: 30px;
}
.input-serach:hover{
    border: 1px solid #27affd !important;
}

/****弹窗皮肤*****/
.layui-layer-msg {
    border: 1px solid #e2f7ff !important;
}

body .cms-open-class .layui-layer-title {
    background: #27affd;
    color: #fff;
    height: 37px;
    line-height: 37px;
    border: 1px solid #27affd !important;

}

body .cms-open-class .layui-layer-content {
    background-color: #fff;
    color: #666666;
}

body .cms-open-class .layui-layer-btn0 {
    background-color: #27affd;
    color: #fff;
    border: 1px solid #27affd;
}

body .cms-open-class .layui-layer-btn1 {
    background-color: #aaaaaa;
    color: #fff;
    border: 1px solid #aaaaaa;
}

/**表格样式修改*/
.layui-table thead tr, .layui-table-header, .layui-table-hover, .layui-table-mend, .layui-table-patch, .layui-table-tool, .layui-table-total, .layui-table-total tr{
    background-color: #e2f7ff;
}

.layui-table tbody tr:hover{
    background-color: #f6f6f9 !important;

}
.layui-table[lay-even] tr:nth-child(2n){
    background-color: #f6f6f9 !important;
}
.layui-table td, .layui-table th {
    min-height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;

}
.layui-table-view .layui-table[lay-size="sm"] .layui-table-cell {
    height: 27px;
    line-height: 27px;
}
.layui-table-header .layui-table {
    border: 0;
}


.layui-table th {
    color: #0e9ee1;
    padding: 6px 4px;
}
.layui-table tr {
    padding: 6px 4px;
}
.layui-table td {
    font-size: 12px;
}
.layui-table td a {
    color: #0e9ee1;
    text-decoration: none;
}

.layui-table td a:hover {
    text-decoration: underline;

}
.layui-table-sort[lay-sort="desc"] .layui-table-sort-desc {
    border-top-color: #0e9ee1;
}
.layui-table-sort[lay-sort="asc"] .layui-table-sort-asc {
    border-bottom-color: #0e9ee1;
}
.layui-table-sort .layui-table-sort-asc:hover {
    border-bottom-color: #0e9ee1;
}
.layui-table-sort .layui-table-sort-desc:hover {
    border-top-color: #0e9ee1;
}

.layui-table-click {
    background-color: #f6f6f9;
}
/**分页样式修改*/
.layui-laypage a, .layui-laypage span {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
    padding: 0 15px;
    height: 28px;
    line-height: 28px;
    margin: 0px 8px 5px 0px;
    background-color: #fff;
    color: #666666;
    font-size: 12px;
}

.layui-laypage-count {
    color: #666666 !important;
}

.layui-laypage a, .layui-laypage button, .layui-laypage input, .layui-laypage select, .layui-laypage span {
    border: 1px solid #e6e8ee;
}

.layui-laypage .layui-laypage-curr .layui-laypage-em {
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 0px;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border: 1px solid #0e9ee1;
    color: #666666;
}

.layui-laypage .layui-laypage-curr em {
    position: relative;
    color: #0e9ee1;
}

.layui-disabled, .layui-disabled:hover {
    color: #c9c9c9 !important;
    cursor: not-allowed !important;
}

.layui-laypage a:hover {
    color: #666666;
}



.layui-input:hover, .layui-textarea:hover, .layui-input:focus {
    border-color: #c9c9c9 !important;
}

.layui-form-select .layui-edge {
    border-top-color: #c9c9c9 !important;

}

.layui-form-select dl {
    left: 0;
    top: 42px;
    padding: 5px 0;
    z-index: 899;
    min-width: 100%;
    border: 1px solid #c9c9c9;
    max-height: 300px;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
    color: #666666;
    font-size: 13px;
}

.layui-form-select dl dd.layui-this {
    background-color: #fff;
    color: #666666;
}

.layui-form-select dl dd:hover {
    background-color: #f2f2f2;

}

.layui-form-select dl dd, .layui-form-select dl dt {
    padding: 0 9px;
    line-height: 27px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

/**radio*/
.layui-form-radio {
    line-height: 23px;
}

.layui-form-radio > i {
    margin-right: 8px;
    font-size: 20px;
    color: #27affd;
}

.layui-form-radio > div {
    color: #666666;
    font-size: 13px;
}

.layui-form-radio > i:hover, .layui-form-radioed > i {
    color: #27affd !important;
}

.layui-form-checkbox span {
    padding: 0 10px;
    height: 100%;
    font-size: 13px;
    border-radius: 2px 0 0 2px;
    color: #fff;
    overflow: hidden;
}

.layui-form-checkbox:hover i {
    border-color: #27affd !important;;
    color: #27affd !important;;
}

.layui-form-checked, .layui-form-checked:hover {
    border-color: #27affd !important;;
}


.layui-form-checked[lay-skin="primary"] i {
    border-color: #27affd !important;
    background-color: #fff;
    color: #fff;
    width: 12px !important;
    height: 12px !important;
    line-height: 12px !important;
}


.layui-form-checked i, .layui-form-checked:hover i {
    color: #27affd !important;
    border-color: #27affd !important;
}

.layui-tree-line .layui-tree-entry:hover .layui-tree-txt {

    color:#999;
    text-decoration: none !important;
    transition: .3s;

}
.layui-tree-iconClick .layui-icon {
    font-size: 13px;

}
